@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Press Start 2P";
        src: url("/fonts/PressStart2P-Regular.ttf");
    }
}

@layer components {
  .navigation-underline {
      @apply w-full border border-yellow-500;
  }
}


/* GLOBAL STYLES */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TYPOGRAPHY */


body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ececec' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1 {
  font-family: Arial;
  font-family: "Press Start 2P", cursive;
  margin: 0;
  font-size: 5rem;
  color: black;
  word-wrap: break-word;
}

h2 {
  font-family: Arial;
  font-family: "Press Start 2P", cursive;
  margin: 0;
  font-size: 1.8rem;
  text-overflow: "...";
  word-wrap: break-word;
}

h3 {
  font-family: Arial;
  font-family: "Press Start 2P", cursive;
  margin: 0;
  font-size: 1.5rem;
  word-wrap: break-word;
}
h4 {
  font-family: Arial;
  font-family: "Press Start 2P", cursive;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  word-wrap: break-word;
}

h5 {
  font-family: Arial;
  font-family: "Press Start 2P", cursive;
  margin: 0;
  line-height: 1.5rem;
  font-size: 0.8rem;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color:  #075985;
  font-family: Arial;
  font-family: "Press Start 2P", cursive;
  display: inline;
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

/* LAYOUT */
body {
  background-color:  rgb(248 250 252);
}

/* Items */
input, select {
  background-color: #e0e1dd;
  display: inline-block;
  padding: 20px 15px;
  font-size: 1.5rem;
  border-radius: 0;
  -webkit-appearance: none;
  font-family: "Press Start 2P", cursive;
}

.READ {
  background-color: #F87171;
  border: solid 6px #F87171;
  color: white;
}

.READING {
  background-color: #FB923C;
  border: solid 6px #FB923C;
  color: white;

}

.TBR {
  background-color: #FACC15;
  border: solid 6px #FACC15;
  color: white;

}

.DNF, .COLLECTION {
  background-color: #A78BFA;
  border: solid 6px #A78BFA;
  color: white;

}

.shadow {
  box-shadow: 0px 5px 23px -10px #F87171;
}

.page-transition-wrapper {
  min-height: calc(100vh - 70px)
}